<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title> Agregar Cliente </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container" style="padding-top: 20px">

    <h3> Agregar Cliente </h3>

    <hr>

    <form th:action="@{/nuevo}" th:object="${cliente}" method="post">
        <div class="form-group">
            <label> Nombre: </label>
            <input class="form-control" type="text" th:field="*{nombre}" th:errorclass="'alert-danger'" required/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors()}" th:errors="*{nombre}"></small>
        </div>
        <div class="form-group">
            <label> Apellidos: </label>
            <input class="form-control" type="text" th:field="*{apellido}" required/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors()}" th:errors="*{apellido}"></small>
        </div>
        <div class="form-group">
            <label> Correo: </label>
            <input class="form-control" type="email" th:field="*{email}" required/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors()}" th:errors="*{email}"></small>
        </div>
        <div class="form-group-inline text-right">
            <a class="btn btn-danger" th:href="@{/index}"> Cancelar</a>
            <input class="btn btn-success" type="submit" value="Guardar" />
        </div>
        <!--<input type="hidden" th:field="*{id}"/>-->
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>